<?xml version="1.0" encoding="utf-8"?>
<configuration>
<configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
        <section name="deja_vu.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        <section name="deja_vu.DejaVuSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
</configSections>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1"/></startup><userSettings>
        <deja_vu.Properties.Settings>
            <setting name="MkvmergePath" serializeAs="String">
                <value />
            </setting>
            <setting name="ReplayPath" serializeAs="String">
                <value />
            </setting>
            <setting name="SlowReplaySpeed" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="GfycatPostEndpoint" serializeAs="String">
                <value />
            </setting>
        </deja_vu.Properties.Settings>
        <deja_vu.DejaVuSettings>
            <setting name="MkvmergePath" serializeAs="String">
                <value />
            </setting>
        </deja_vu.DejaVuSettings>
    </userSettings>
  <system.diagnostics>
    <trace autoflush="true">
      <listeners>
        <add type="System.Diagnostics.TextWriterTraceListener" name="TextWriter"
             initializeData="log.txt" traceOutputOptions="DateTime"/>
      </listeners>
    </trace>
  </system.diagnostics>
</configuration>
